name: Trigger auto deployment for myfirstcontainerapp

on:
  push:
    branches: 
      [ main ]
    paths:
      - '**'
      - '.github/workflows/myfirstcontainerapp-AutoDeployTrigger-506fe2e2-d22e-4e35-b4a7-ec1d0f40af8c.yml'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write
      contents: read

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MYFIRSTCONTAINERAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MYFIRSTCONTAINERAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MYFIRSTCONTAINERAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and deploy container app
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: Dockerfile
          imageToBuild: myfirstdockerapp:latest
          containerAppName: myfirstcontainerapp
          resourceGroup: awesome_azure_ninja
          containerAppEnvironment: managedEnvironment-awesomeazurenin-adbc
          targetPort: 80
          ingress: external
