name: Trigger auto deployment for myfirstcontainerapp

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/myfirstcontainerapp-AutoDeployTrigger-506fe2e2-d22e-4e35-b4a7-ec1d0f40af8c.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MYFIRSTCONTAINERAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MYFIRSTCONTAINERAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MYFIRSTCONTAINERAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.MYFIRSTCONTAINERAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MYFIRSTCONTAINERAPP_REGISTRY_PASSWORD }}
          containerAppName: myfirstcontainerapp
          resourceGroup: awesome_azure_ninja
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


