name: Build and Deploy to Azure Container Apps

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      # Checkout Code
      - name: Checkout
        uses: actions/checkout@v3

      # Azure Login
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # Login to ACR
      - name: Login to ACR
        run: |
          az acr login --name vaishnaviacr

      # Build and Push Docker Image
      - name: Build and Push Image to ACR
        run: |
          IMAGE=vaishnaviacr.azurecr.io/myfirstcontainerapp:${{ github.sha }}
          echo "Building image: $IMAGE"
          docker build -t $IMAGE .
          docker push $IMAGE
          echo "IMAGE_NAME=$IMAGE" >> $GITHUB_ENV

      # Deploy to Azure Container Apps
      - name: Deploy to Azure Container App
        run: |
          az containerapp update \
            --name myfirstcontainerapp \
            --resource-group awesome_azure_ninja \
            --image $IMAGE_NAME \
            --ingress external \
            --target-port 8000
